<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>除權息股價試算</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body class="container">
    <div id="app">
        <form>
            <div class="form-group">
                <label for="stockPrice">股價</label>
                <input type="number" v-model="stockPrice" id="stockPrice" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="stockDividend">股票股利</label>
                <input type="number" v-model="stockDividend" id="stockDividend" class="form-control"></input>
            </div>
            <div class="form-group">
                <label for="cashDividend">現金股利</label>
                <input type="number" v-model="cashDividend" id="cashDividend" class="form-control"></input>
            </div>
            <div class="form-group">
                <label>股價預估</label>
                <label>{{afterStockPrice}}</label>
            </div>
        </form>
    </div>
    <script type="module">
import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.esm.browser.js'

var app = new Vue({
    el: '#app',
    data: {
        stockPrice: 100,
        stockDividend: 2,
        cashDividend: 4,
    },
    computed: {
        afterStockPrice: function() {
            return (this.stockPrice - this.cashDividend) / (1 + (this.stockDividend / 10));
        }
    }
})     
    </script>
</body>

</html>
